<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add User Category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-chip [disabled]="true" [outline]="true">{{category.name}}</ion-chip>
  </ion-item>

  <ion-item [formGroup]="userCategoryForm">
    <ion-label position="floating">Name</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>

</ion-content>